.cards_container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card {
    display: inline-block;
    width: 130%;
    padding: 1em;
    border-radius: 15px;  
    margin: 10% auto auto auto;
    background: #ddd;
    text-align: left;

  
    &__caption {
      background-color: rgba(#ffffff, 0.65);
      padding: 1em;
      position: relative;
      border-radius: 0 0 3px 3px;
    }
    &__image-container {
      background-color: rgba(#000000, 0.7);
      text-align: center;
      padding: 1em 1em 0;
      border-radius: 3px 3px 0 0;
    }
    
    &__type {
      position: absolute;
      top: 0;
      right: 1em;
      transform: translateY(-50%);
      color: #ffffff;
      text-transform: uppercase;
      font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
      letter-spacing: 0.1em;
      padding: 0.25em;
      line-height: 1;
      border-radius: 2px;
      background: #bbbbbb;
    }
  
    &__label {
      font-size: 10px;
      text-transform: uppercase;
      font-weight: 400;
      display: block;
      margin-bottom: 3px;
    }
    
    
    &__name {
      font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
      text-align: center;
      font-size: 1.5em;    
      font-weight: 700;
      letter-spacing: 0.02em;
    }
    
    &__stats {
      margin: 1em 0;
      th {
        font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
        text-align: right;
        font-weight: 300;
      }
      width: 100%;
      
      th, td {
        width: 50%;
        padding: 0.25em 0.5em 0;
      }
      
    }
    
    &__abilities {
      display: flex;
      justify-content: space-between;
    }
    &__ability {
      margin-top: 1em;
      flex: 1 0;
    }
    
    box-shadow: 0px 5px 20px -10px #111111;
    
    
    &--normal {
      background: linear-gradient(110deg, #FDBB2D 0%, #3A1C71 100%);
      box-shadow: 0px 5px 20px -10px #3A1C71;
      .card__type {
        background-color: #C08A53;
      }
    }
    
    &--water {
    background: linear-gradient(120deg, #1CB5E0 0%, #000851 100%);    
      box-shadow: 0px 5px 20px -10px #000851;
      .card__type {
        background-color: #1CB5E0;
      }
    }
    &--electric {
      
      background: linear-gradient(90deg, rgba(255,222,0,1) 34%, rgba(232,255,153,1) 83%);
      .card__type {
        background-color: #000;
      }
    }
    &--fire {
      background: linear-gradient(0deg, rgba(199,24,0,1) 10%, rgba(252,194,69,1) 100%);
      .card__type {
        background-color: rgba(199,24,0,1);
      }
    }
    
    &--psychic {
      
      background: linear-gradient(140deg, rgba(255,167,249,1) 0%, rgba(255,44,195,1) 39%, rgba(255,227,167,1) 100%);
      .card__type {
        background: #ff2cc3;
      }
    }
    
    &--dark {
      background: linear-gradient(20deg, rgba(25,25,25,1) 0%, rgba(16,11,50,1) 33%, rgba(92,2,73,1) 100%);
      .card__type {
        background: #5c0249;
      }
    }
    &--grass {
      background: linear-gradient(140deg, rgba(196,218,61,1) 0%, rgba(110,127,14,1) 69%, rgba(39,80,9,1) 100%);
  
      .card__type {
        background: #6e7f0e;
      }
    }
    
    &--ice {
      background: linear-gradient(230deg, rgba(202,234,246,1) 0%, rgba(160,234,241,1) 46%, rgba(111,184,235,1) 100%);
      .card__type {
        background: #6fb8eb;
      }
    }
    
    &--  {
      background: linear-gradient(45deg, rgba(255,230,240,1) 0%, rgba(255,197,224,1) 34%, rgba(255,166,185,1) 71%, rgba(255,138,149,1) 100%);
      
      .card__type {
        background: #ff8a95;
      }
    }
    
    position: relative;  
    transition: 0.4s;
  
    &:hover {
      z-index: 5;
      box-shadow: 0px 13px 30px -15px #000000;
      transform:translateY(-15px);
    }
    
  }
  
  $msgbox-area-width-l: 480px;

$msgbox-area-y-pos: 15px;
$msgbox-area-x-s: 20px;
$msgbox-area-x-m: 80px;
$msgbox-area-x-l: 15px;

$msgbox-box-color: #ffffff;
$msgbox-box-background-color: rgba(#000000, 0.7);
$msgbox-box-padding: 1.5rem;
$msgbox-box-margin: 1rem;
$msgbox-box-border-radius: 12px;
$msgbox-box-box-shadow: 0 10px 15px rgba(#000000, 0.65);
$msgbox-box-backdrop-filter: blur(4px);
$msgbox-box-transition-time: 256ms;

$msgbox-close-color: #ffffff;
$msgbox-close-margin: 10px;
$msgbox-close-transition-time: 64ms;

$msgbox-close-hover-color: #efefef;
$msgbox-close-hover-text-shadow: 0 0 4px #ffffff;

.msgbox-area {
  font-size: inherit;
  max-height: 100%;
  position: fixed;
  bottom: $msgbox-area-y-pos;
  left: $msgbox-area-x-s;
  right: $msgbox-area-x-s;
}

.msgbox-box {
  font-size: inherit;
  color: $msgbox-box-color;
  background-color: $msgbox-box-background-color;
  margin: 0 0 $msgbox-box-margin;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: $msgbox-box-border-radius;
  box-shadow: $msgbox-box-box-shadow;
  backdrop-filter: $msgbox-box-backdrop-filter;
  transition: opacity $msgbox-box-transition-time ease-in;
  &.msgbox-box-hide {
    opacity: 0;
  }
  &:last-child {
    margin: 0;
  }
}

.msgbox-content {
  font-size: inherit;
  padding: $msgbox-box-padding;
  padding-bottom: $msgbox-box-padding / 2;
  flex-shrink: 1;
}

.msgbox-command {
  padding: $msgbox-box-padding;
  padding-top: $msgbox-box-padding / 2;
  display: flex;
}

.msgbox-close {
  color: $msgbox-close-color;
  font-size: inherit;
  text-decoration: none;
  margin: 0 $msgbox-close-margin;
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
  transition:
    color $msgbox-close-transition-time ease-out,
    text-shadow $msgbox-close-transition-time ease-out;
  &:hover {
    color: $msgbox-close-hover-color;
    text-shadow: $msgbox-close-hover-text-shadow;
  }
  &:first-child {
    margin-left: auto;
  }
  &:last-child {
    margin-right: 0;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .msgbox-area {
    left: $msgbox-area-x-m;
    right: $msgbox-area-x-m;
  }
}

@media (min-width: 768px) {
  .msgbox-area {
    width: $msgbox-area-width-l;
    height: 0;
    top: $msgbox-area-y-pos;
    left: auto;
    right: $msgbox-area-x-l;
  }
}

/*****************************/
/* MESSAGE BOX RELATED CLASS */
/*           (END)           */
/*****************************/

$button-color: #387cdc;

.msgbox-area {
  font-size: 16px;
}

.msgbox-message-container {
  text-align: center;
  background-color: #ffffff;
  padding: 2rem;
  box-sizing: border-box;
  border-radius: 1rem;
  box-shadow: 0 0.3rem 0.5rem rgba(#000000, 0.5);
  h1, h3 {
    font-weight: normal;
    padding: 0.5rem 1rem;
    margin: 0;
    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      padding-bottom: 0;
    }
  }
  p {
    padding: 0.5rem 1rem;
    margin: 0;
    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      padding-bottom: 0;
    }
  }
}

.msgbox-message-button {
  font-size: 18px;
  font-family: inherit;
  color: white;
  background-color: $button-color;
  width: 250px;
  border: solid 2px darken($button-color, 10%);
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  outline: none;
  box-shadow: 0 0.4rem darken($button-color, 10%);
  transition:
    background-color 64ms ease-out,
    box-shadow 64ms ease-out,
    transform 64ms ease-out;
  &:hover,
  &:focus,
  &:active {
    background-color: lighten($button-color, 5%);
  }
  &:active {
    background-color: darken($button-color, 5%);
    box-shadow: 0 0 darken($button-color, 10%);
    transform: translateY(0.4rem);
  }
}