@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*{
    font-family: 'Josefin Sans', sans-serif;
    -webkit-tap-highlight-color: transparent;
}

/* Parallax */
    /* Parallax base styles
  --------------------------------------------- */

  .parallax {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 300px;
    perspective: 300px;
  }

  .parallax__group {
    position: relative;
    height: 100vh;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  .parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .parallax__layer--fore {
    -webkit-transform: translateZ(90px) scale(.7);
    transform: translateZ(90px) scale(.7);
    z-index: 1;
  }

  .parallax__layer--base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 4;
  }

  .parallax__layer--back {
    -webkit-transform: translateZ(-300px) scale(2);
    transform: translateZ(-300px) scale(2);
    z-index: 3;
  }

  .parallax__layer--deep {
    -webkit-transform: translateZ(-600px) scale(3);
    transform: translateZ(-600px) scale(3);
    z-index: 2;
  }





  /* demo styles
  --------------------------------------------- */

  .parallax {
    font-size: 90%;
  }

   /* centre the content in the parallax layers */
  .home_content {
    text-align: left;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    align-items: center;
  }

  /* style the group
  --------------------------------------------- */
  #group {
    z-index: 1;
  }
  #group .parallax__layer--back {
    background: rgb(245 158 11);
  }

.image_home {
  display: flex;
  align-items: center;
}
.round-time-bar {
  margin: 1rem;
  overflow: hidden;
}
.round-time-bar div {
  height: 5px;
  animation: roundtime calc(var(--duration) * 1s) steps(var(--duration))
    forwards;
  transform-origin: left center;
  background: linear-gradient(to bottom, red, #900);
}
.round-time-bar[data-style="smooth"] div {
  animation: roundtime calc(var(--duration) * 1s) linear forwards;
}
@keyframes roundtime {
  to {
    /* More performant than `width` */
    transform: scaleX(0);
  }
}

/* Animation Box */
#dashboard_card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  width: 95vw;
}

#card_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  transform: scale(0.7);
}

#box {
  display: flex;
 justify-content: space-evenly;
 align-items: center;
 margin-left: 25vw;
}

@keyframes slideInLeft {
  0% {
    transform: translateY(-2%);
  }

  100% {
    transform: translateY(0);
  }
}


#kaarten {
  animation: 0.5s ease-out 0s 1 slideInLeft;
}


@media only screen and (max-width: 600px) {
  #image_home{
    display: none;
  }

  #text-title, #text_home{
    width: 100%;
  }

  .tabs {
    margin: 0;
  }

  #card_wrapper {
    transform: scale(1);
    margin: 0;
  }

  #dashboard_card {
    width: 80vw;
  }

  #box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 90vw !important;
    margin-left: 5vw;
  }

  #quiz_select {
    left: 40%;
    width: 90vw;
    top: 35%;
  }

  #register {
    width: 80vw;
    margin-top: 60px;
  }

}
